*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.book1{
    background-color: hsla(65, 29%, 27%, 0.369);
    padding: 10px;
    border: 1px groove black;
}
.divice{
    background-color: rgb(184, 228, 248);
    border: 1px solid white;
    border-radius: 15px;
    overflow: hidden;
    padding: 5px;
}
.picture, .paragraph{
    float: left;
}
.paragraph{
    padding-top: 35px;
    font-size: 25px;
}
.bookhead{
    text-align: center;
    
    color: rgb(6, 73, 100);
    font-size: 55px;
}
.bookhead4{
    text-align: center;
    margin-bottom: 35px;
    font-size: 25px;
}
.bookhead2{
    color: #0d50b5;
    margin-bottom: 5px;
}
.bookhead3, .bookhead5{
    color: rgb(28, 8, 212);
    text-align: center;
    margin-bottom: 10px;
    
}
.bookhead3{
    font-size: 35px;
}
.bookhead5{
    font-size: 25px;
}
table{
    width: 45%;
    
    float: left;
    margin: 10px;
}
th{
    width: 100%;
    background-color: rgb(173, 243, 164);
    text-align: center;
    width: 35px;
    height: 45px;
    font-size: 35px;
    border: 1px groove black;
}
td{
   border: 1px groove black;
}