*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
}
.leftside{
    
    
    width: 15%;
    height: 850px;
    
   
    float: left;
    
    margin-top: 15px;
    
    position: sticky;
    top: 50px;
    overflow: hidden;
    overflow-y: scroll;
   
}


   

.navtag{
    float: left;
   
    margin-top: 15px;
    width: 100%;
}
.navtag .h3tag{
    margin-left: 2px;
    padding: 10px;
    background-color: rgba(158, 199, 253, 0.829);
    font-size: 20px;
    width: 80%;

}
.tag{
    font-size: 20px;
    padding: 5px;
    display: block;
    text-decoration: none;    
    margin-left: 15px;
    color: black;
    width: 60%;
}
.tag:hover{
    background-color: rgb(7, 109, 75);
    color: aliceblue;
    text-decoration: underline;
}
.htmltutorial{
    font-size: 28px;
    color: #055316;
}
.navleft, h2 {
 margin-left: 5px;
 margin-top: 15px;
 
}
.navleft{
    display: block;
    
    
}
.diva {
   width: 200px;
   
   margin-left: 5px;
    font-size: 20px;
    float: left;
    padding: 10px;
   
    text-decoration: none;
    color: rgb(90, 46, 192);
   
    
}
.sumanchor{
    text-decoration: none;
    color: darkgreen;
}
.sumanchor:hover{
    background-color: yellow;
    color: black;
    text-decoration: underline;
}
.diva, .tag{
    font-size: 1.1rem;
}
.divadetail {
    width: 200px;
    margin-left: 25px;
     font-size: 15px;
     float: left;
     padding: 10px;
     background-color: rgb(74, 114, 141);
     color: aliceblue;
     text-decoration: none;
     border-bottom: 1px inset;
     
    
    
     
     
 }
 .divadetail:hover{
    background-color: cadetblue;
 }
.diva:hover{
    background-color: beige;
    color: red;
   
}
.middle{
    box-sizing: border-box;
   background-color: #fafff7;
    width: 60%;
   letter-spacing: 1px;
   
    float: left;
    margin: auto;
    margin-top: 15px;
    margin-left: 10px;
    border: 2px groove whitesmoke;
    border-top: none;
    border-bottom: none;
}
 #middleh1{
    margin: 45px;
    margin-top: 100px;
}
#middlep1{
    
    font-size: 20px;
    margin-left: 5px;
    padding: 65px;
    padding-top: 0px;
}
footer{
   
    color: aliceblue;
    background-color: black;
    width: 100%;
    font-size: 25px;
    margin-top: 55px;
    text-align: center;
    padding-top: 10px;
    height: 100px;
}
li{
    font-size: 20px;
    padding: 10px;
}
table{
    border-collapse:collapse ;
    width: 100%;
}
  tr,td{
    font-size: 20px;
    padding: 10px;
    text-align: center;
}
tr:nth-child(even){
    background-color: rgb(216, 230, 236);
}

#imgfig{
    width: 100%;
   position: relative;
   
    border: 3px inset #255eba;
   
    
}
.figure1{
    border: 7px inset #b5cef5;
    width: 350px;
    overflow: hidden;
    margin: 0px;
   
  
    
    
}
    
#caption1{
    
    
    position: relative;
    bottom:2px;
}
.khmermoul{
    font-family: moul;
    color: rgb(0, 102, 255);
    text-decoration: underline;  
    margin-top: 0px;
}
.khmerfont{
    font-family: khmer;
}



p{
    font-family: khmer;

}




@media screen and (max-width:900px) {
    .leftside,.middle, .p, .img, .sumdetail{
        width: 100%;
    }
}